*{
    margin: 0;
    padding: 0;
}
.small-carousel {

    max-width: 1600px; 
    margin: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);


}

.small-carousel img {
    height: 800px;
    object-fit: cover;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    position: center;
    margin: auto;
}

.inf {
    max-height: 1400px;
    display: flex;
    margin-top: 300px;
    padding: 25px;
    background-color: #f0f0f0;

}

.titulo{
    font-weight: bold;
    font-size: 10em;
}
.text{
    font-size: 2em;
    font-style: italic;
    margin: 0 auto;
    max-width: 600px;


}