.red {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  .red a {
    text-decoration: none;
    color: inherit;
  }
  .red i {
    margin-right: 0.5rem;
  }

  footer{
    margin-top: auto;
  }