section{
text-align: center;
align-items: center;
justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.form input{
    width: 300px;
}
.form textarea{
    width: 500px;
}
aside{
    color: white;
}