img{
object-fit: cover;
}
.informacion{
    padding-top: 5%;
    margin-top: 30%;
    padding-bottom: 10%;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.txtt{
    max-width: 800px; /* Ajusta el tamaño máximo según tus necesidades */
    margin: 0 auto;  /* Centra el párrafo horizontalmente */
    padding: 20px;   /* Añade un poco de padding si es necesario */
    font-size: 16px; /* Ajusta el tamaño de fuente si es necesario */
    line-height: 1.6;
}
h1{
    text-align: center;
}
p {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin: 20px 0;
    padding: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  .textos{
    padding: 20px;
    margin-top: 5%;
    display: flex;
  }

  .ayudas{
    margin: auto;
    padding-top: 35px;
    justify-content: center;
    align-items: center;
  }


.forms{
    display: flex;
    margin-top: 5%;
}

.dividor{
    width: 1px;
    background-color: #60606098; /* Color de la línea */
    margin: 0 10px;
}
.terminos{
    margin-left: 10px;
}
  .forms1,.forms2{
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 25%;
  }
  .nin{
    font-size: 12px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .numero{
    margin-left: 15px;
    margin-right: 15px;
  }
