body{
    margin: 0;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,212,255,0.08167016806722693) 100%);
  }
  img{
    border-radius: 10px;
  }
  h1.titulo1,.titulo2{
    color: aliceblue;
  }
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  aside{
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  }
  
  .iniciov{
  margin: 0 auto;
  
  width: 50%;
  height: 30%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px rgba(7, 67, 55, 0.675);
  
  }
  .inicio{
    display: flex;
    margin-top: 0px;
  }
  
  .inicio form {
    display: flex;
    flex-direction: column;
  }
  
  .inicio label {
    margin-top: 10px;
  }
  
  .inicio input, select{
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
  }
  
  .iniciov button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4CAF50; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .iniciov button:hover {
    background-color: #45a049; /* Color del botón al pasar el ratón */
  }
  
  .inicio input[type="text"],
  .inicio input[type="email"],
  .inicio input[type="number"],
  .inicio input[type="tel"],
  .inicio select[id="donacion"],
  .inicio select[id="metodoPago"]
  {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  .forms1{
    padding: 20px; 
    margin-left: 2%;
  }
  .forms1 input{
    border-radius: 5px;
    margin-left: 15%;
  }
  .forms2 select{
    margin-left: 15%;
  }
  
  .forms2{
    padding: 20px; 
    margin-left: 2%;
  }
  .forms2 input{
    margin-left: 15%;
  }
  
  .forms1, .forms2 {
    width: 45%;
  }
  
  .explicacion {
    width: 100%;
  }
  
  .text2 {
    width: 115%;
    margin: auto;
    font-size: 1em;
    /* Reduce el tamaño de la fuente para hacer el texto más pequeño */
  }
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 8px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  .number1 {
    background-color: #5fcf80;
    color: #fff;
    height: 5px;
    width: 5px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 8px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 1000px;
    }
  }
